<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Data Driven Test Framework">

<listeners>
<listener class-name="org.uncommons.reportng.HTMLReporter"/>
<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
<listener class-name="listeners.CustomListener"/>
</listeners>

	<test name="Customer Test">
		<classes>
			<class name="testcases.CustomerTest" />
		</classes>
	</test> <!-- Test -->

	<test name="Open Account Test">
		<classes>
			<class name="testcases.OpenAccountTest" />
		</classes>
	</test> <!-- Test -->

	<test name="Report Failed And Skipped Test">
		<classes>
			<class name="testcases.ReportFailedAndSkippedTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->